.success{
    background-color: green;
    color: white;
    padding: 0.5rem 1rem;
    outline: none;
    cursor: pointer;
    border-radius: 0.2rem;
    border: 1px solid rgb(0, 29, 0);

}
.error{
    background-color: red;
    color: black;
    padding: 0.5rem 1rem;
    outline: none;
    cursor: pointer;
    border-radius: 0.2rem;
    border: 1px solid rgb(0, 29, 0);

}
.warning{
    background-color: yellow;
    color: black;
    padding: 0.5rem 1rem;
    outline: none;
    cursor: pointer;
    border-radius: 0.2rem;
    border: 1px solid rgb(0, 29, 0);
}